kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: mnist-tls
  labels:
    app: mnist
    name: mnist-model-serving
    type: service
spec:
  host: "{{PROJECT_NAME}}.{{PROJECT_HOSTNAME}}"
  to:
    kind: Service
    name: mnist-flask-app
    weight: 100
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  wildcardPolicy: None
status:
  ingress:
    - host: "{{PROJECT_NAME}}.{{PROJECT_HOSTNAME}}"
      routerName: default
      wildcardPolicy: None
      routerCanonicalHostname: "{{PROJECT_HOSTNAME}}"
