---
apiVersion: v1
kind: Service
metadata:
  name: "mnist-flask-app"
spec:
  ports:
    # the port that this service should serve on
    - name: http
      port: 80
      targetPort: http
  # label keys and values that must match in order to receive traffic for this service
  selector:
    app: mnist-flask-app
---
# References:
# https://docs.openshift.com/container-platform/3.11/dev_guide/managing_images.html#using-is-with-k8s
# https://access.redhat.com/documentation/en-us/openshift_container_platform/3.11/html/developer_guide/dev-guide-managing-images
# https://itnext.io/variations-on-imagestreams-in-openshift-4-f8ee5e8be633
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mnist-flask-app
  annotations:
{{#USE_OPENSHIFT_BUILDCONFIG}}
    image.openshift.io/triggers: |
      [
        {
          "from": {
            "kind":"ImageStreamTag",
            "name":"mnist-flask-app:latest"
          },
          "fieldPath": "spec.template.spec.containers[?(@.name==\"mnist-flask-app\")].image"
        }
      ]
{{/USE_OPENSHIFT_BUILDCONFIG}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mnist-flask-app
  strategy: {}
  template:
    metadata:
      annotations:
        alpha.image.policy.openshift.io/resolve-names: '*'
      labels:
        app: mnist-flask-app
    spec:
      containers:
      - name: mnist-flask-app
{{#USE_OPENSHIFT_BUILDCONFIG}}
        image: "mnist-flask-app:latest"
{{/USE_OPENSHIFT_BUILDCONFIG}}
{{^USE_OPENSHIFT_BUILDCONFIG}}
        image: "dmrub/mnist-flask-app"
{{/USE_OPENSHIFT_BUILDCONFIG}}
        imagePullPolicy: "Always"
        ports:
          - name: http
            containerPort: 5000
        env:
          - name: PORT
            value: "5000"
          - name: TF_SERVING_URI
            value: "http://mnist-model-serving:8501/v1/models/mnist_model/versions/1:predict"
        #command: [ "/bin/sh" ]
        #args: ["-c", "trap exit INT TERM; while true; do sleep 10000000; done"]
        #args: ["-c", "wait-for-it influxdb:8086 --strict -- influxd restore -portable -database refit -host \"${INFLUXDB_HOST}\" /data"]
      restartPolicy: Always
